<header>
  <div class="main-container">
    <div class="header-container">
      <div class="logo-container">
        <a routerLink="/home/shop"><img src="../../../assets/logo/StepUp.svg" alt="StepUp Logo"></a>
      </div>
      <div class="name-container">
        <h1>StepUp</h1>
      </div>
      <div class="nav-container">
        <div class="shop-container link-container">
          <a routerLink="/home/shop" routerLinkActive="active" ><h2>Shop</h2></a>
        </div>
        <div class="caps-container link-container">
          <a routerLink="/home/caps" routerLinkActive="active"><h2>Hombre</h2></a>
        </div>
        <div class="watchs-container link-container">
          <a routerLink="/home/watchs" routerLinkActive="active" ><h2>Mujer</h2></a>
        </div>
        <!-- <div class="watchs-container link-container">
          <a routerLinkActive="active" routerLink="admin/home" ><h2>Tienda</h2></a>
        </div> -->
        <div class="buttons-container">
          <button class="circular-button" routerLink="/cart"><img src="../../../assets/icons/IconShoppingCart.svg" title="Carrito de compras" alt="Cart Icon"></button>
          <button class="circular-button" routerLink="/login"><img src="../../../assets/icons/IconUser.svg" alt="User Icon"></button>
          <button class="circular-button" ><img src="../../../assets/icons/IconLogout.svg" title="Cerrar sesión" alt="Logout Icon"></button>
        </div>
      </div>
    </div>
  </div>
</header>