<header>
  <div class="main-container">
    <div class="header-container">
      <div class="logo-container">
        <a routerLink="/home"><img src="/logo/stepUpLogo.png" alt="StepUp Logo"></a>
      </div>
      <div class="name-container">
        <h1>StepUp</h1>
      </div>
      <div class="nav-container">
        <div class="shop-container link-container">
          <a routerLink="/home/shop" routerLinkActive="active" [class.active]="isLinkActive('shop')"><h2>Tienda</h2></a>
        </div>
        <div class="caps-container link-container">
          <a routerLink="/home/hombre" routerLinkActive="active" [class.active]="isLinkActive('caps')"><h2>Hombre</h2></a>
        </div>
        <div class="watchs-container link-container">
          <a routerLink="/home/mujer" routerLinkActive="active" [class.active]="isLinkActive('watchs')"><h2>Mujer</h2></a>
        </div>
        <div class="watchs-container link-container">
          <a routerLinkActive="active" routerLink="admin/home" *ngIf="isLoggedInAdmin"><h2>Admin Panel</h2></a>
        </div>
        <div class="buttons-container">
          <button class="circular-button" routerLink="/cart" *ngIf="isLoggedIn  && !isLoggedInAdmin"><img src="/icons/IconShoppingCart.svg" title="Carrito de compras" alt="Cart Icon"></button>
          <button class="circular-button" routerLink="/login" *ngIf="!isLoggedIn"><img src="icons/IconUser.svg" alt="User Icon"></button>
          <button class="circular-button" (click)="logoutPress()" *ngIf="isLoggedIn"><img src="/icons/IconLogout.svg" title="Cerrar sesión" alt="Logout Icon"></button>
        </div>
      </div>
    </div>
  </div>
</header>