<div class="main-container">
  <div class="main-image-container">
    <img src="/img/backgrounds/back4.jpg" alt="CapClock Logo">
    <h1 class="image-title">Admin Panel</h1>
  </div>
  <div class="main-products-container">
    <!-- <div class="search-container">
      <h1>Productos</h1>
      <div class="searcher">
        <div class="searcher-logo">
          <img src="/icons/IconSearch.svg" alt="Search Icon">
        </div>
        <div class="searcher-input">
          <input type="text" placeholder="Search on StepUp" (keyup)="filterProducts($event)">
        </div>
        <div class="search-button-container">
          <button class="search-button">Search</button>
        </div>
      </div>
    </div> -->
    <div class="products-container">
      <div class="product-container">
        <div class="image-container">
          <img src="/icons/add (1).png" alt="Agregar Producto" />
        </div>
        <div class="name-container">
          <h1 class="product-name">Agregar Producto</h1>
        </div>
        <div class="info-container">
          <div class="buttons-container">
            <button class="more-button" routerLink="/admin/product-add">
              Seleccionar
            </button>
          </div>
        </div>
      </div>
    
      <div class="product-container">
        <div class="image-container">
          <img src="/icons/edit (1).png" alt="Modificar Producto" />
        </div>
        <div class="name-container">
          <h1 class="product-name">Modificar Producto</h1>
        </div>
        <div class="info-container">
          <div class="buttons-container">
            <button class="more-button" routerLink="/admin/product-edit-list">
              Seleccionar
            </button>
          </div>
        </div>
      </div>
    
      <div class="product-container">
        <div class="image-container">
          <img src="/icons/analysis.png" alt="Ver Reportes" />
        </div>
        <div class="name-container">
          <h1 class="product-name">Ver Reportes</h1>
        </div>
        <div class="info-container">
          <div class="buttons-container">
            <button class="more-button" routerLink="/admin/view-reports">
              Seleccionar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


