.main-container {
  display: flex;
  position: relative;
  flex-direction: column; /* Cambia la dirección de los elementos a vertical */
}

.main-image-container {
  position: relative; /* Agrega posición relativa para que los elementos absolutos dentro de este contenedor se posicionen correctamente */
  width: 100%;
  max-height: 90vh; /* El alto máximo es el 50% de la altura visible del viewport */
  overflow: hidden;
}

.main-image-container img {
  width: 100%;
  height: 80%; /* Utiliza el 100% de la altura disponible */
  object-fit: cover; /* Corta la imagen manteniendo su relación de aspecto */
  object-position: center; /* Corta la imagen desde la parte superior */
}

.image-title {
  position: absolute;
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 120px; /* Tamaño de letra grande */
  color: white; /* Color blanco */
  margin: 0;
  text-align: center; /* Centra el texto */
  z-index: 0; /* Asegura que esté encima de la imagen */
  bottom:65px; /* Centra verticalmente */
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.5); /* Efecto de borde interno */
}


.search-container {
  display: flex;
  padding: 20px; /* Espacio interno */
  border-radius: 10px; 
  align-items: center;
  justify-content: space-around;
  margin: 0 50px;
}

.search-container h1 {
  font-size: 42px;
  color: #010714;
}


.searcher {
  display: flex;
  align-items: center;
  border: 1px solid #CCCCCC;
  border-radius: 60px;
  width: 65%;
  padding: 10px 10px 10px 0;
  justify-content: space-around;
}

.searcher-logo img{
  width: 40px;
  filter: invert(70%); 
  margin-left: 10px;

}

.searcher-input {
  width: 80%;
  padding: 0;
}

.searcher-input input {
  padding: 10px; 
  border: none;
  border-radius: 5px; 
  width: 100%;
  font-size: 20px; 
}
.searcher-input input:focus {
  outline: none; 
}

.search-button-container {
  margin-left: 10px; 
}

.search-button {
  padding: 10px 20px; 
  background-color: #011232; 
  color: white; 
  border: 1px solid #011232; 
  border-radius: 30px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin-right: 5px;
  font-size: 20px;
}

.search-button:hover {
  background-color: white; /* Color de fondo al pasar */
  color:#010714;
  border: 1px solid #010714;
}

.main-products-container {
  border-radius: 20px;
  background-color: white;
  width: 80%;
  margin: 0 auto; 
  position: relative; 
  top: -100px; 
}

.products-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 25px;
  background-color: #ffffff;
  max-width: 300px; /* Ajusta el tamaño máximo */
  margin: 0 auto; /* Centra horizontalmente */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Altura fija para uniformidad */
  width: 150px; /* Ancho fijo para uniformidad */
  margin: auto;
}

.image-container img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  max-height: 100%; /* Asegura que la imagen no exceda la altura del contenedor */
  object-fit: contain; /* Escala la imagen sin recortarla */
}

.product-name {
  font-size: 24px;
  margin: 10px 0;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.price-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content; /* Ajusta la altura según el contenido */
  padding: 10px 0;
}


.price-container label{
  font-size: 20px;

}

.product-price {
  font-size: 28px;
  margin:0;
}

.buttons-container{
  display: inline-flex;
}

.more-button{
  padding: 10px 20px; /* Espaciado interno */
  background-color: #011232; /* Color de fondo */
  color: white; /* Color del texto */
  border: 1px solid #011232; /* Sin borde */
  border-radius: 30px; /* Borde redondeado */
  cursor: pointer; /* Cursor al pasar */
  transition: background-color 0.3s ease; /* Transición suave */
  margin-right: 10px;
  font-size: 16px;
}
  
.more-button:hover {
  background-color: white; /* Color de fondo al pasar */
  color:#011232;
  border: 1px solid #011232;
}

.add-button{
  padding: 10px 20px; /* Espaciado interno */
  background-color: white; /* Color de fondo */
  color: #011232; /* Color del texto */
  border: 1px solid #011232; 
  border-radius: 30px; /* Borde redondeado */
  cursor: pointer; /* Cursor al pasar */
  transition: background-color 0.3s ease; /* Transición suave */
  margin-right: 10px;
  font-size: 16px;
}

.add-button:hover {
  background-color: #011232; /* Color de fondo al pasar */
  color:white;
}