<div class="main-container">
  <div class="main-image-container">
    <img src='/img/backgrounds/back4.jpg' alt="CapClock Logo">
    <h1 class="image-title">Carrito</h1>
  </div>
  <div>
    <div class="cart-container">
      <div class="column" style="flex: 60%;">
        <!-- Contenido de la columna izquierda -->
        <div *ngFor="let product of productsCart">
          <div class="main-product-container">
            <div class="image-container">
              <img src="/img/backgrounds/back4.jpg" alt="CapClock Logo">
            </div>
            <div class="details-container">
              <div class="row">
                <h1 class="product-name">{{product.productoInventario.producto.nombre_producto}}</h1>
                <h2 id="product-price" class="product-price">${{product.productoInventario.producto.precio}}</h2>
              </div>
              <p class="product-size">Talla: Única</p>
              <div class="row">
                <!--<p class="product-description">{{product.description}}</p>-->
                <div class="quantity-container">
                    <button class="quantity-button" (click)="setQuantity(product,-1)">-</button>
                    <input type="number" class="quantity-input" value="{{product.cantidad}}" disabled>
                    <button class="quantity-button" (click)="setQuantity(product,1)">+</button>
                  <button class="circular-button" (click)="deleteCart()"><img src="icons/IconTrash.svg" alt="Trash Icon"></button>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <!-- <app-shop-product *ngFor="let product of productsCart" [product]="product"></app-shop-product> -->
      </div>
      <div class="column" style="flex: 40%;">
        <!-- Contenido de la columna derecha -->
        <div class="info-container">
          <!-- Contenido del contenedor de información -->
          <div class="card">
            <!-- Lista de productos y precios -->
            <div class="price-container">
              <div class="product-price" *ngFor="let product of productsCart">
                <h5 class="description-letter">{{product.productoInventario.producto.nombre_producto}} x {{product.cantidad}}</h5>
                <h5 class="description-letter">{{(product.productoInventario.producto.precio* product.cantidad).toFixed(2)}}</h5>
              </div>
            </div>
            <!-- Total -->
            <div class="total-container">
              <h5 class="description-letter">Total:</h5>
              <h5 class="description-letter">{{(priceTotal).toFixed(2)}}</h5>
            </div>
          </div>
          <!-- Botón de pagar -->
          <div class="row">
            <button class="more-button" style="width: 100%;" (click)="pagarProductos()" routerLink="/order-confirmation">Pagar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>