<div class="main-container">
  <div class="image-container">
    <img src="{{product.imagenes[0].url}}" alt="CapClock Logo">
  </div>
  <div class="name-container">
    <h1 class="product-name">{{product.nombre_producto}}</h1>
  </div>
  <div class="info-container">
    <div class="price-container">
      <label>Precio</label>
      <h2 class="product-price">${{product.precio}}</h2>
    </div>
    <div class="buttons-container">
      <button class="add-button" (click)="addToCart()" routerLink="/cart" *ngIf="isLoggedIn  && !isLoggedInAdmin">Add to cart</button>
      <button class="more-button" (click)="showMore()" *ngIf="!this.edit">Show More</button>
      <button class="more-button" (click)="editProduct()" *ngIf="this.edit">Editar</button>
    </div>
  </div>
</div>